#mainDivProfile {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
}

.sidebar-index {
    display: flex;
}

#body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

#box {
    background-color: var(--background);
    position: relative;
    height: 500px;
    text-align: center;
    border-radius: 0%;
    padding: 5px;
}

.input {
    border: 1px solid #a5a5a5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    height: 30px;
    background-color: var(--background);
    width: 270px;
    padding: 5px;
    font-family: var(--font-family);
}

.inputText {
    font-size: 14px;
}

#btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    width: 20%;
    color: var(--background);
    background-color: var(--color-primary);
    height: 35px;
    width: 130px;
    padding: 6px;
    margin-top: 15px;
    ;
}

#formDiv {
    margin-top: 70px;
    margin-bottom: 50px;
    align-items: center;
}

.inputDiv {
    margin-bottom: 30px;
    justify-content: center;
    display: grid;
    height: 30px;
    text-align: left;
}