.main {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  font-family: var(--font-family);
}

.sidebar-index {
  display: flex;
}

.index {
  width: 100%;
  height: 100%;
  text-align: center;
}

#totalUsuarios {
    color: #969696;
}

#adicionarUsuario {
    border: 1px solid #FF834F;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    color: var(--color-primary);
    text-align: center;
}

#addUsuarioText {
    margin-top: 11px;
}

#titulo {
    width: 35px;
    height: 18px;
    /* margin-left: 41%; */
    font-size: 20px;
    justify-content: center;
    text-align: center;
    color: #000;
}

.header-usuarios>span {
    color: black;
}

.cards {
    height: calc(100vh - 16rem);
    overflow-y: scroll;
    /* display: grid; */
    gap: 1rem;
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
}