.sidebar{
   height: calc(100vh - 5rem);
   width: 12rem;
   background-image: linear-gradient(var(--color-primary), var(--color-secondary));
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 0 0 1rem 0;
}

.navigation{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(217,217,217,0.5);
}

.menu>span{
    padding: 0.5rem;
    width: 100%;
    font-size: 14px;
    align-self: center;
    height: 2rem;
}

.imagem{
    width: 90%;
}