:root {

    /* Primary color shades */
    --md-primary-fg-color: #1F3541;
    --md-primary-bg-color: #F6F6F6;

    --md-text-link-color: hsla(231, 48%, 48%, 1);

    /* Accent color shades */
    --md-accent-fg-color: #5289B5;
    --md-accent-fg-color--transparent: #5289B534;
    --md-accent-bg-color: #F6F6F6;

}

:root > * {
  
    /* Code block color shades */
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);

    /* Footer */
    --md-footer-bg-color: #1F3541;
    --md-footer-fg-color: #F6F6F6;

}

.md-content {
    --md-typeset-a-color: #09bfdd;
}
