.header{
    height: 5rem ;
    width: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
    background-color: var(--color-primary);
}

.header-wraper{
    width: 100%;
    padding: 0 2rem;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body{
    align-items:center;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.header-text{
    color: white;
    font-size: 80%;
}

.logo-nome{
    gap: 1rem;
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between  ;
} 

.button-logout{
    display: flex;
    align-items: center;
    width: 75px;
    justify-content: space-between  ;
}
